@inject cliente.Services.CarritoService CarritoService
@using cliente.Services
@inherits LayoutComponentBase
<div class="top-row px-4 bg-light shadow-sm">
    <a href="/" class="navbar-brand">
        <img src="img/logomotogp.jpg" alt="Logo" style="height:40px;" />
        Tienda Online MOTO GP
    </a>
    <div class="ms-auto">
        <a href="/carrito" class="btn btn-outline-primary position-relative" style="width: 50px; height: 50px;">
            <img src="img/carrito.png" alt="Carrito" style="width:32px; height:32px;" />
            @if (CarritoService.TotalArticulos() > 0)
            {
                <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                    @CarritoService.TotalArticulos()
                </span>
            }
        </a>
    </div>
</div>

<main>
    @Body
</main>

@code {
    protected override void OnInitialized()
    {
        CarritoService.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        CarritoService.OnChange -= StateHasChanged;
    }
}