@page "/Home"
@using cliente.Services
@using Cliente.Models
@inject ApiService ApiService

<PageTitle>Inicio</PageTitle>

<div class="container">
    <div class="row">
    <div class="col-12">            
        @if (error != null) {
            <div class="alert alert-danger">
                Error: @error
            </div>
        } else if (cargando) {
            <div class="alert alert-info">Cargando datos...</div>
        } else if (productos != null && productos.Any()) {
            <div class="card" style="width: 300px;">
                <div class="card-header">
                    Productos del servidor
                </div>
                <div class="card-body">
                    <ul>
                        @foreach (var p in productos)
                        {
                            <li>@p.Titulo - $@p.Valor</li>
                        }
                    </ul>
                </div>
            </div>
        } else if (productos != null && !productos.Any()) {
            <div class="alert alert-warning">
                No hay productos para mostrar.
            </div>
        }
    </div>
</div>
</div>

@code {
    private List<Producto> productos;
    private string error;
    private bool cargando = false;

   protected override async Task OnInitializedAsync()
    {
        await ObtenerDatosDelServidor();
    }

    private async Task ObtenerDatosDelServidor() {
        try {
            cargando = true;
            error = null;
            productos = await ApiService.ObtenerDatosAsync();
        } catch (Exception ex) {
            error = ex.Message;
            productos = null;
        } finally {
            cargando = false;
        }
    }
}