# Configuración de IDEs
.vs/
.vscode/
*.user
*.suo
**/tempCodeRunnerFile.cs
tempCodeRunnerFile.csharp

# Archivos generados por compilación
**/bin/
**/obj/
**/publish

# Archivos del sistema operativo
**/.DS_Store
Enunciados/.DS_Store
Thumbs.db

# Archivos temporales y carpetas auxiliares del proyecto
/clases/tmp/
datos/asistencias/tmp/
fechas/
/datos/Soluciones/

# Archivos específicos del proyecto
examen/respuestas-examen.md

# Archivos de bases de datos SQLite
*.db-shm
*.db-wal

# Archivos de configuración sensibles
github-config.json
*.secret.json

# Otros
.fake


