@using cliente.Services

@inject cliente.Services.CarritoService CarritoService

@inherits LayoutComponentBase
<div class="page">
    @Body
</div>

<div class="d-flex justify-content-end align-items-center p-2 bg-light">
    <a class="btn btn-outline-primary position-relative" href="/carrito">
        🛒 Carrito
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
            @CarritoService.ObtenerCarrito().Count
        </span>
    </a>
</div>

@using Shared
<Shared.NavMenu />

