@inherits LayoutComponentBase
@inject Cliente.Services.CarritoService CarritoService

<CascadingValue Value="(Action<int>)ActualizarCarrito">
    <CascadingValue Value="CarritoCantidad">
        <Navbar CarritoCantidad="@CarritoCantidad" OnBuscar="RealizarBusqueda" />
        <div class="page">
            @Body
        </div>
        <ToastContainer />
    </CascadingValue>
</CascadingValue>

@code {
    private int CarritoCantidad = 0;

    protected override async Task OnInitializedAsync()
    {
        await ActualizarContadorCarrito();
    }

    public void ActualizarCarrito(int cantidad)
    {
        CarritoCantidad = cantidad;
        StateHasChanged();
    }    private async Task ActualizarContadorCarrito()
    {
        try
        {
            CarritoCantidad = await CarritoService.ObtenerCantidadItemsAsync();
            StateHasChanged();
        }
        catch (HttpRequestException httpEx)
        {
            Console.WriteLine($"Error de conexión al actualizar contador: {httpEx.Message}");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al actualizar contador: {ex.Message}");
        }
    }    private Task RealizarBusqueda(string? query)
    {

        return Task.CompletedTask;
    }
}
