@inherits LayoutComponentBase
@inject ICarritoService CarritoService

<header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="">🏪 Tienda Online</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="mx-auto my-2 my-lg-0" style="width: 50%;">
                
            </div>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="carrito" class="nav-link position-relative">
    🛒 Carrito
    @if (cantidadItems > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @cantidadItems
        </span>
    }
</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main class="container mt-4">
    @Body
</main>

@code {
    private int cantidadItems;

    protected override async Task OnInitializedAsync()
    {
        CarritoService.CarritoActualizado += async () =>
        {
            await CargarCantidadItems();
            InvokeAsync(StateHasChanged); 
        };

        await CargarCantidadItems();
    }

    private async Task CargarCantidadItems()
    {
        var items = await CarritoService.ObtenerItemsCarritoAsync();
        cantidadItems = items.Sum(i => i.Cantidad);
        StateHasChanged();
    }
}