@page "/"
@using cliente.Services
@using cliente.Modelos
@inject CarritoService CarritoService
@inject ApiService ApiService
@inject NavigationManager NavigationManager

<PageTitle>Inicio</PageTitle>

<div class="fondo-home">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="imagenes/Rare-Beauty-Logo.png" alt="Logo" width="100" height="55" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center position-relative" href="/carrito">
              <span class="bi bi-cart" style="font-size: 1.3em; margin-right: 0.3em;"></span>
              <span style="margin-right: 0.3em;">Carrito</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @CarritoService.Items.Sum(i => i.Cantidad)
              </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="contenedor-inicio">
      <div class="contenido-inicio">
        <header class="titulo">
          <h1>¡Bienvenida a Rare Beauty!</h1>
        </header>
        <p class="descripcion">
              Descubrí la belleza que hay en vos con Rare Beauty, la línea de maquillaje creada por <strong>Selena Gomez</strong>. Auténtico, liviano y diseñado para realzar lo que te hace única. <br>
              En Rare Beauty, creemos que la belleza no es un estándar, sino una expresión de tu individualidad. Nuestros productos están formulados para ser inclusivos y accesibles, permitiéndote resaltar tu belleza natural sin esfuerzo.
        </p>
        
        <button class="btn btn-outline-light" @onclick="@(() => NavigationManager.NavigateTo("/productos"))">¡Comprar!</button>
      </div>
      <div class="contenedor-imagen">
          <img src="imagenes/selenafondp.webp" alt="Selena Gomez" class="imagen-inicio">
      </div>
    </main>

    <footer>
      <div class="footer-content">
        <p>© 2025 Rare Beauty. Todos los derechos reservados.</p>
        <p>Desarrollado por Abril María Agostina Tello</p>
      </div>
    </footer>
</div>
