@page "/"
@using cliente.Shared

<PageTitle>Inicio</PageTitle>

<div class="container main-content">
    <div class="home-animated-text">
        Bienvenido a <span style="color:#ff0080;">Nickz Online Store</span>
    </div>
    <div class="home-animated-subtext">
        ¡Explorá nuestros productos y agregá lo que quieras al carrito!
    </div>
    <div class="home-gallery">
        <img src="NickzOriginal.jpg" class="home-image" alt="Imagen 1" />
        <img src="InicioImagen2.jpg" class="home-image" alt="Imagen 2" />
        <img src="InicioImagen.jpg" class="home-image" alt="Imagen 3" />
    </div>
    <div class="text-center" style="margin:32px 0 0 0">
        <a href="/productos" class="btn btn-primary btn-lg">Ver productos</a>
    </div>
</div>