@page "/compra-exitosa"
<PageTitle>¡Gracias por tu compra!</PageTitle>

<div class="alert alert-success text-center shadow-lg">
    <h4 class="alert-heading">¡Compra realizada con éxito!</h4>
    <p>Gracias por tu compra. Recibirás un correo electrónico con los detalles de tu pedido en breve.</p>
    <hr>
    <a href="/" class="btn btn-success">
        <i class="bi bi-arrow-left me-2"></i>Volver al catálogo
    </a>
</div>
