@using Cliente.Services
@inject CarritoService CarritoSrv

<a class="nav-link" href="/carrito">
    🛒 Carrito (@cantidad)
</a>

@code {
    private int cantidad;

    protected override async Task OnInitializedAsync()
    {
        CarritoSrv.OnChange += Actualizar;
        cantidad = CarritoSrv.CantidadTotal;

        if (cantidad == 0)
        {
            await CarritoSrv.ActualizarCantidadAsync();
        }
    }

    private void Actualizar()
    {
        cantidad = CarritoSrv.CantidadTotal;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CarritoSrv.OnChange -= Actualizar;
    }
}
