@using cliente.Services
@using cliente.Models
@implements IDisposable
@inject NavigationManager Navigation
@inject ApiService ApiService


<nav class="navbar navbar-expand-lg bg-dark text-white" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">P3:C3 61096</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <!-- Menú izquierdo -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink href="/" class="nav-link text-white" activeClass="active">
                        <img src="/ico/home.png" class="nav-icono" alt="">
                        Home
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink href="/historial" class="nav-link text-white" activeClass="active">
                        <img src="/ico/historial.png" class="nav-icono" alt="">
                        Historial
                    </NavLink>
                </li>
            </ul>

            <!-- Formulario de búsqueda centrado -->
            <form class="d-flex mx-auto" role="search" @onsubmit="OnSubmitBuscar" @onsubmit:preventDefault>
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar"
                    @bind="textoBusqueda" />
                <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>

            <!-- Carrito a la derecha -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink href="/carrito" class="nav-link text-white position-relative" activeClass="active">
                        @if (ApiService.Count > 0)
                        {
                            <span class="nav-icono2">@ApiService.Count</span>
                        }
                        <img src="/ico/carrito.png" class="nav-icono" alt="">
                        Carrito
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {


    protected override async Task OnInitializedAsync()
    {
        await ApiService.ObtenerCompraPendiente();
        ApiService.OnChange += ActualizarVista; // Suscribirse al evento de cambio
    }
    void ActualizarVista()
    {
        StateHasChanged(); // Forzar la actualización del menú
    }

    public void Dispose()
    {
        ApiService.OnChange -= ActualizarVista;
    }

    private string textoBusqueda = string.Empty;

    private void OnSubmitBuscar()
    {
        ApiService.Buscar(textoBusqueda);
        Navigation.NavigateTo("/");
    }






}