   @page "/"
@using cliente.Services
@using Microsoft.AspNetCore.Components.Web
@inject ApiService ApiService
@inject cliente.Services.CarritoService CarritoService

<div class="inicio">
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/logo2.jpeg" alt="Logo" width="100" height="55" class="d-inline-block align-text-top">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="catalogo">Productos</a>
          </li>
          <li class="nav-item">
                    <a class="nav-link d-flex align-items-center position-relative" href="carrito">
                    <span class="bi bi-cart" style="font-size: 1.3em; margin-right: 0.3em;"></span>
                    <span style="margin-right: 0.3em;">Carrito</span>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                       @CarritoService.Items.Sum(i => i.Cantidad)
                    </span>
                    </a>
                </li>
        </ul>
     
      </div>
    </div>
  </nav>
 </div>
<div class= "fondo">
<div class="home-minimal">
    <div class="descripcion-minimal">
        <h1>¡Bienvenido a la tienda de gorras más exclusivas!</h1>
        <p>Tu estilo habla antes que vos. Encontrá en nuestro catálogo la gorra perfecta para cada día: urbanas, deportivas, clásicas y con onda. Elegí la que va con tu personalidad y salí a comerte el mundo con actitud.</p>
        <a class="btn-minimal" href="catalogo">IR AL CATÁLOGO</a>
    </div>
</div>
  </div>
  
 

@code {
    
    protected override async Task OnInitializedAsync()
    {
        CarritoService.OnChange += StateHasChanged;
      
    }

    public void Dispose()
    {
        CarritoService.OnChange -= StateHasChanged;
    }

    
}
