body {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.btn-primary {
    background-color: #e10600;
    border: none;
}

.btn-primary:hover {
    background-color: #b30000;
}

input, button {
    border-radius: 6px;
}
.navbar {
    background-color: #000;
    color: white;
}

h1, h3, h5 {
    font-weight: 600;
    color: #111;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

/* Tarjeta producto */
.card-title {
    color: #e10600;
}

.card-text {
    font-size: 0.95rem;
    color: #333;
}

.card-img-top {
    height: 180px;
    object-fit: contain;
}

/* Badge del carrito */
.badge {
    font-size: 0.75rem;
}

/* Input búsqueda */
input[type="text"], input[type="search"] {
    border: 1px solid #ccc;
    padding: 6px 12px;
    width: 200px;
}

.badge {
    transition: transform 0.2s ease;
}

.badge:active{
    transform: scale(1.2);
}

h1, h2, h3 .card-title{
    font-weight: 700;
    color: #e10600;
    

}