@inherits LayoutComponentBase
@implements IDisposable
@using cliente.Services
@inject EstadoCarrito EstadoCarrito
@inject NavigationManager Navigation

<div class="container-fluid d-flex flex-column p-0 min-vh-100">

    <header >
        <nav class="navbar  navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    DEPORT-TUC
                </a>

                @* --- Formulario de Búsqueda --- *@
                <form class="d-flex w-50" @onsubmit="ManejarBusqueda">
                    <input class="form-control me-2" type="search" placeholder="Buscar productos..."
                        @bind="terminoBusqueda" @bind:event="oninput">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>

                <div class="d-flex align-items-center">
                    @* --- Contador del Carrito --- *@
                    <a href="/carrito" class="btn btn-light position-relative">
                        <i class="bi bi-cart3"></i>
                        @if (EstadoCarrito.ItemsEnCarrito > 0)
                        {
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @EstadoCarrito.ItemsEnCarrito
                            </span>
                        }
                    </a>
                </div>
            </div>
        </nav>

        <div class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="#">INICIO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="flex-grow-1">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://pacogarcia.vtexassets.com/assets/vtex.file-manager-graphql/images/85145e20-8ef1-429c-972e-20487b92e36e___5c478fa85695aa0ae7a7c0b6b34bf1a8.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://pacogarcia.vtexassets.com/assets/vtex.file-manager-graphql/images/301433e2-d833-44c0-a5d7-30790f362a5f___22ac40200b82ae2c1d8ec74be4d8e533.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://pacogarcia.vtexassets.com/assets/vtex.file-manager-graphql/images/1ce49388-4acf-4de7-bb36-e276f3275f55___84fa99cf57158dee44aafe54c1bb2bc5.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        @Body
    </main>

    <footer class="footer bg-dark text-white mt-auto py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Federico Valdiglesias &copy; 2025</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="text-white me-3">Terminos de servicios</a>
                    <a href="#" class="text-white">Politicas de privacidad</a>
                </div>
            </div>
        </div>
    </footer>

</div>

@code {
    private string terminoBusqueda = "";

    protected override void OnInitialized()
    {
        EstadoCarrito.OnChange += StateHasChanged;
    }

    private void ManejarBusqueda()
    {
        if (!string.IsNullOrWhiteSpace(terminoBusqueda))
        {
            Navigation.NavigateTo($"/?q={terminoBusqueda}");
        }
    }
    public void Dispose()
    {
        EstadoCarrito.OnChange -= StateHasChanged;
    }
}